{% extends 'layout.html' %}

{% block head %}
<title>Halaman Home bootstrap</title>
{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">Navbar</a>
            <from class="d-flex">
                <input class="form-control me-2" type="search" placeholder="search" aria-label="search">
                <button class="btn btn-success" type="submit">Search</button>
            </from>
        </div>
    </nav>
    <h1>Namaku Mikhael dan aku suka uang</h1>
</div>
{% endblock %}
